* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

.book-library {
    background-color: #ffffff;
    width: 600px;
}

.book {
    margin: 20px;
}
.book img {
    padding: 20px 170px 0px 170px;

}
.book h2 {
    padding: 0px 20px;
}
.author {
    color: #777777;
    padding: 0px 20px;
}
.price {
    background-color: #2ecc71;
    color: #ffffff;
    margin: 0px 20px;
    border: none;
    border-radius: 8px;
    text-align: center;
    padding: 7px;
}

